body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{

    width: 150px;
    height: 150px;
    background-color: darkred;
    animation: circle 3s alternate ease-in;
    animation-iteration-count: 2; 
    animation-delay: 0.5s;

}
@keyframes circle {
    from {}
    to {
        border-radius: 50%;
        background-color: red;    
    }
  }


