@import url(layout.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

*{
    padding: 0;
    margin: 0;   
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}


